<form class="{{ this.class }}" name="{{ this.name }}">
  <h1 class="{{ this.titleClass }}">{{ this.title }}</h1>
  <div class="{{ this.inputGroupClass }}">
    {{#each inputs}} {{> form-input }} {{/each}}
  </div>
  <div class="{{ this.buttonGroupClass }}">
    {{#each buttons}} {{> button }} {{/each}}
  </div>
</form>
