<span class="{{ this.span.class }}">
  <input
    class="{{ this.class }}"
    type="{{ this.type }}"
    id="{{ this.id }}"
    name="{{ this.name }}"
    placeholder="{{ this.innerText }}"
    value="{{ this.value }}"
  />
  <label class="{{ this.label.class }}" for="{{ this.id }}">{{
    this.innerText
  }}</label>
</span>
