<form class="{{ this.class }}" name="form">
  <h1 class="{{ this.titleClass }}">{{ this.title }}</h1>
  <div class="{{ this.inputGroupClass }}">
    {{#each inputs}} {{> form-input input=.}} {{/each}}
  </div>
  <div class="{{ this.buttonGroupClass }}">
    {{#each buttons}} {{> button button=.}} {{/each}}
  </div>
</form>
