<span class="{{ input.span.class }}">
  <input
    class="{{ input.class }}"
    type="{{ input.type }}"
    id="{{ input.id }}"
    name="{{ input.name }}"
    placeholder="{{ input.innerText }}"
  />
  <label class="{{ input.label.class }}" for="{{ input.id }}">{{
    input.innerText
  }}</label>
</span>
